#reserveBtn {
    background-color: #DB0C63;
    color: white;
    border-radius: 10px;
    width: 80%;
    text-transform: none;
    margin: 10px;
}

#calendar {
    margin: 10px;
}

#title {
    margin: 20px;
}

#pricePerNight {
    font-weight: bold;
    float: left;
}

#reviews {
    float: right;
}

#grandTotal {
    font-weight: bold;
}

#chargeBreakdown {
    text-align: left;
}

.charges {}

.chargePrice {}

p {
    margin: 10px;
}