#overview{
  
}

#averageRating{
  border: 2px solid pink;
  display: flex;
  height: 100%;
  font-size: 30px;
}

#star{
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid pink;
  float: left;
  display: flex;
  height: 100%; 
}

#star-five {
  margin: 10px 0;
  position: relative;
  display: block;
  color: #ff5a5f;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px solid #ff5a5f;
  border-left: 20px solid transparent;
  transform: rotate(
35deg
);
}
#star-five:before {
  border-bottom: 16px solid #ff5a5f;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -8px;
  left: -11px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  color: #ff5a5f;
  left: -20px;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px solid #ff5a5f;
  border-left: 20px solid transparent;
  transform: rotate(-70deg);
  content: '';
}