.grid-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20px 20px;
    grid-template-areas:
        "Title Image"
        "SubTitle .";
}

.Title {
    grid-area: Title;
    padding-bottom: 10px;
    text-align: left;
}

.SubTitle {
    grid-area: SubTitle;
    text-align: left;
}

.Image {
    grid-area: Image;
    float: right;
}
#detailsSection {
    padding-top: 10px;
    padding-bottom: 10px;
}
#descriptionBlurb {
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
}
.grid-features{
    display: grid;
    grid-template-columns: 50px auto;
    margin: 20px;

}
.detailHeading {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.detailSubHeading {
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.subDetail {
    text-align: left;
    padding-top: 9px;
    padding-left: 20px;
}

.fas {
    size: 122px;
}