#rooms{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 300px;
    width: 800px;
    margin: 0 auto;
}

#title{
    text-align: left;
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 15px;
}

.roomCard{
    border: 1px solid gray;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    float:left;
    margin-right: 10px;
}

#roomName{
    clear:both;
    margin-top: 10px;
    font-weight: 700;
    float: left;
    margin-left: 15px;
}

.bedList{
    clear:both;
    float: left;
    margin-left: 15px;
    text-align: left;
    font-size: 15px;
}
#bedIcons{
    margin-left: 10px;
    margin-top: 10px;
}
.iconContainer{
    width: fit-content;
    float: left;
    margin-left: 5px;
}

.icon{
    width: 32px;
    height: 32px;
}